@model Login

@{
    ViewData["Title"] = "Home Page";    
}


<form asp-action="Index" method="post" asp-controller="Login">
    <section class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Login</h3>
                        <form>
                            <div class="mb-3">
                                <label asp-for="username" class="form-label">Username</label>
                                <input asp-for="username" type="text" class="form-control" id="username" placeholder="Enter your username">
                            </div>
                            <div class="mb-3">
                                <label asp-for="password" class="form-label">Password</label>
                                <input asp-for="password" type="password" class="form-control" id="password" placeholder="Enter your password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>


@if(ViewBag.loginStatus == "Wrong Password" || ViewBag.loginStatus == "Invalid Login")
{
    <script>alert(@ViewBag.loginStatus)</script>
} 



    
